section{
    position: absolute;
    right: 0vw;
    top: 5vh;
}
.ScoreDetails{
    border-style: solid;
    border-color: red;
    width: 25vw;
    height: 50vh;
}
.ScoreNames{
    position: relative;
    left: 5%;
    width: 35%;
}
.ScoreHolder{
    padding-top: 10px;
    position: absolute;
    width: 70vw;
}
#returnButton{
    position: absolute;
    bottom: 15%;
}
#skippedWords{
    height: 20vh;
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 0.3vw;
    height: 1vh;
}

::-webkit-scrollbar-track{
    box-shadow: none;
    background-color: gray;
}

::-webkit-scrollbar-thumb{
    background: #3A3030
}
#correctWords{
    height: 10vh;
    overflow: hidden;
    overflow-y: scroll;
}